@page
@model RazorWebApp.Pages.Checkout.Checkout

@{
    var imgPath = "~/images/Pizzas/" + Model.PizzaImage+ ".png";
}
<h1>Your Order!</h1>
<div class="align-content-center">
    <div class="col-3 mb-5 mx-auto ">
        <img class="w-100" asp-append-version="true" src="@imgPath"/>
        <p>Your order for @Model.PizzaName pizza is ready</p>
        <p>Total price is: @Model.PizzaPrice</p>
        <br/>
        <a class="btn alert-primary mx-auto mb-2" asp-area="" asp-page="ThankYou">Confirm Order</a>
    </div>
</div>