@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to Razor Pizza </h1>
        <h2 class="mainSubtitle">Chiuaua like pizza like chiuaua</h2>
    </div>
    <img class="mainImage" src="images/PizzaTime.jpg" alt="heh"/>
    <br/>
    <a class="btn btn-primary mt-1" asp-area="" asp-page="/Checkout/ThankYou">That Pizza</a>
</div>